﻿@media(min-width: 992px) {
	.section-map-contact > .section-content {
		position: absolute;
		right: 50px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	.horizontal-header-ver .hamburger-menu {
		display: none;
	}
}
@media (max-width: 1400px){
	.logo-welcome {
		margin: 0 auto 50px;
		max-width: 700px;
	}
	.logo-welcome img {
		max-width: 350px;
		height: auto;
	}
	.section-welcome .box-links {
		padding: 15px 30px;
	}
	.section-welcome .box-links-image {
		display: inline-block;
	}
	.section-welcome .action-down-ctn {
		padding-top: 30px;
	}
	.introduction-image {
		width: calc(30% + 62px);
	}
	.introduction-content {
		width: calc(70% - 62px);
	}
	.introduction-content p {
		margin-bottom: 15px;
	}
	.header-menu-content .right-content {
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.header-menu-content .right-content .contact-content {
		margin: 0;
	}
	.section-title img {
		max-height: 50px;
		width: auto;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
	.section-title h2 {
		position: relative;
		z-index: 2;
		padding-top: 20px;
		margin: 0;
	}
	.blog-tin-tuc .col-6:first-child {
		padding-right: 15px;
	}
	.blog-tin-tuc .col-6 + .col-6 {
		padding-left: 15px;
	}
	.blog-tin-tuc .col-6 + .col-6 .blog-tin-tuc-item:first-child {
		margin-top: 30px;
	}
	.blog-tin-tuc .blog-tin-tuc-item + .blog-tin-tuc-item {
		margin-top: 30px;
	}
	.section-travel-news .content-panel-scroll {
		padding: 0;
	}
	.blog-tin-tuc .blog-tin-tuc-item .title {
		line-height: 24px;
	}
	.blog-tin-tuc .blog-tin-tuc-item .title a {
		font-size: 16px;
	}
	.section-home-lienhe .section-title img {
		left: auto;
		right: 0;
	}
	.section-map-filter .section-content-left {
		padding: 0 45px;
	}
	.section-travel-destination .content-panel-scroll,
	.section-travel-inspired .content-panel-scroll {
		min-height: 100vh;
		padding: 0;
	}
	.section-travel-event .section-title img,
	.section-travel-destination .section-title img {
		left: 50%;
		margin-left: -36px;
	}
	.section-travel-event .section-title,
	.section-home-lienhe .section-title {
		margin-bottom: 23px;
	}
	.event-item-content h4 {
		font-size: 22px;
	}
	.event-item-content ul {
		font-size: 16px;
	}
	.event-item-content .content {
		margin-top: 0;
	}
	.event-item-content .count-event,
	.event-item-content .timer {
		margin-top: 30px;
	}
	.section-travel-event .content-panel-scroll {
		padding: 0;
	}
	.section-travel-event .right-content {
		min-height: 500px;
	}
	
	.event-item-content .content .image {
		padding-left: 100px;
	}
	.section-home-content .contact-content .title {
		font-size: 20px;
		padding: 0;
		margin: 0;
	}
	.section-home-content .contact-content ul li {
		margin-top: 20px;
	}
	.section-home-content .contact-content {
		padding: 35px 45px 35px;
	}
	.section-home-lienhe .content-panel-scroll {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-map-filter .section-title h2,
	.cam-hung-content .section-title h2 {
		padding-top: 0;
	}
	.section-map-filter .section-title img,
	.cam-hung-content .section-title img {
		position: static;
	}
	.section-map-filter .section-title p {
		margin-top: 20px;
		font-size: 16px;
	}
	.section-map-filter .categoy-map li {
		margin-bottom: 15px;
	}
	.section-map-filter .categoy-map .action {
		margin-bottom: 0;
	}
	.introduction-content {
		font-size: 1.1rem;
	}
	.section-map-filter .section-title {
		margin-bottom: 70px;
	}
	.section-map-filter .special-link a {
		right: -100px;
	}
	.cam-hung-content .content-left {
		-ms-flex: 0 0 52%;
		flex: 0 0 52%;
		max-width: 52%;
		padding-right: 15px;
	}
	.cam-hung-content .content-right {
		-ms-flex: 0 0 48%;
		flex: 0 0 48%;
		max-width: 48%;
		padding-left: 15px;
	}
	.cam-hung-content .content-right .col-6 + .col-6 {
		padding-top: 0;
	}
	.cam-hung-content .content-right .posts-grid-item .post-grid-author .post-item-title {
		font-size: 16px;
		font-weight: 600;
	}
	.cam-hung-content .content-right .posts-grid-item .post-grid-author {
		padding: 8px 15px;
	}
	.cam-hung-content .content-right .posts-grid-item {
		margin-top: 0;
	}
	.cam-hung-content .content-right .posts-grid-item + .posts-grid-item{
		margin-top: 30px;
	}
}
@media (max-width: 1365px){
	.ttdt-banner-content-left .ttdt-banner-item .content {
		padding-right: calc(50vw - 576px);
	}
	.introduction-content {
		padding-left: 57px;
		font-size: 1.1rem;
	}
	.header-menu-content .right-content .contact-content .title {
		font-size: 1.8rem;
	}
	.header-menu-content .right-content .contact-content ul {
		font-size: 1.5rem;
	}
}
@media (max-width: 1199px) {
	.section-travel-destination .content-panel-scroll {
		padding: 30px 0;
	}
	.owl-filter-bar li {
		padding: 10px 15px;
	}
	.header-menu-content .left-content {
		padding-left: 50px;
	}
	.header-menu-main li {
		padding: 12px 0;
	}
	.header-menu-main li a {
		font-size: 1.8rem;
	}
	.header-menu-content .left-content {
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		max-width: 45%;
	}
	.header-menu-content .right-content {
		-ms-flex: 0 0 55%;
		flex: 0 0 55%;
		max-width: 55%;
	}
	.section-title img {
		position: static;
		margin: 0 !important;
	}
	.section-title h2 {
		padding: 0;
	}
	.section-travel-news .section-title {
		margin: 0;
	}
	.section-travel-news .content-panel-scroll {
		padding: 30px 0;
	}
	.blog-tin-tuc .blog-tin-tuc-item {
		margin-top: 30px;
	}
	.section-map-filter .section-title p + .action {
		display: block;
		margin-top: 50px;
	}
	.section-map-filter .categoy-map {
		display: none;
	}
	.js-quan-11-travel-slider .slick-arrow {
		width: 34px;
		height: 34px;
		left: -10px;
	}
	.js-quan-11-travel-slider .slick-next.slick-arrow {
		left: auto;
		right: -10px;
	}
	.event-item-content {
		background: #fff;
	}
	.event-item-content:before {
		content: none;
	}
}
@media (max-width: 1174px){
	.ttdt-banner-content-left .ttdt-banner-item .content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.middle-footer .box-links .box-links-content br {
		display: none;
	}
	.main-content .sidebar-right,
	.main-content .sidebar-left {
		padding: 0 15px;
	}
}
@media (max-width: 1023px){
	.horizontal-header .menu-bar ul li + li {
		margin-left: 20px;
	}
	.horizontal-header .menu-bar a {
		font-size: 14px;
	}
}
@media (max-width: 991px){
	html {
		font-size: 12px;
	}
	.section-map-contact > .section-content {
		margin-top: 40px;
	}
	.top-footer .top-footer-right,
	.top-footer .top-footer-left {
		float: none;
		text-align: center;
	}
	.top-footer .top-footer-right {
		margin-top: 10px;
	}
	.box-info-footer,
	.box-info-footer-right {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.box-info-footer-right {
		margin-top: 30px;
	}
	.ttdt-banner-content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.ttdt-banner-content-left,
	.ttdt-banner-content-right {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.ttdt-banner-content-left {
		min-height: 400px;
	}
	.ttdt-banner-content-right {
		padding-left: 15px;
	}
	.post-list-container {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.post-list-container .post-container-left {
		box-shadow: none;
		padding-right: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-bottom: 40px;
	}
	.post-list-container .post-container-right {
		padding-left: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.latest-posts-list-items .latest-posts-list-item .post-item-image {
		width: 70px;
	}
	.latest-posts-list-items .latest-posts-list-item .post-item-author {
		width: calc(100% - 70px);
	}
	.post-item-title {
		font-size: 14px;
	}
	.latest-posts-list-items .latest-posts-list-item .post-item-author span + span {
		display: none;
	}
	.section-introduction h2 {
		font-size: 2.5rem;
		padding: 0;
		text-align: center;
	}
	.introduction-container {
		width: 100%;
		padding: 0 15px;
	}
	.introduction-image:after {
		content: none;
	}
	.introduction-image img {
		width: 100%;
	}
	.introduction-content {
		padding-left: 20px;
		width: 67%;
	}
	.introduction-image {
		width: 33%;
	}
	.section-map-page.section-map-filter .section-content-right,
	.section-map-page.section-map-filter .section-content-left {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.section-map-page.section-map-filter .section-content-left {
		padding: 20px 15px;
	}
	.section-map-page .back-action {
		margin-bottom: 20px;
	}
	.section-map-page.section-map-filter .categoy-map li {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		margin-bottom: 0;
		font-size: 1.1rem;
		padding-right: 10px;
	}
	.horizontal-header-ver .sidebar-left .search-form .action-search {
		font-size: 0px;
		padding: 0;
		background-position: center;
	}
	.horizontal-header .hamburger-menu {
		display: block;
		width: 48px;
		background-position: right center;
	}
	.middle-header .logo + .menu-bar {
		display: none;
	}
	.horizontal-header .breadcrumbs {
		display: none;
	}
	.horizontal-header .middle-header {
		background: #E4F4FF;
	}
	.header-menu-content {
		display: block !important;
		overflow-y: auto;
		background-image: url(../images/icons/bg_menu_mobile.svg);
		background-position: bottom right;
		background-size: contain;
		left: auto;
		width: 320px;
		transform: translateX(100%);
		-moz-transform: translateX(100%);
		-o-transform: translateX(100%);
		-ms-transform: translateX(100%);
	}
	html.active-menu body:after {
		content: "";
		position: fixed;
		z-index: 19;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #000;
		opacity: 0.8;
	}
	html.active-menu .header-menu-content {
		transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		-ms-transform: translateX(0);
		opacity: 1;
		visibility: visible;
	}
	.header-menu-content .right-content .contact-content .title {
		font-size: 16px;
		margin-bottom: 20px;
		margin-top: 115px;
	}
	.header-menu-content .left-content,
	.header-menu-content .right-content {
		max-width: 100%;
	}
	.header-menu-main li a {
		font-size: 16px;
		padding-left: 20px;
	}
	.header-menu-content .left-content {
		padding: 30px 15px 0;
	}
	.header-menu-content .right-content {
		display: block !important;
		background: none;
	}
	.header-menu-content .right-content .contact-content ul {
		padding-left: 15px;
		font-size: 14px;
		padding-right: 15px;
		padding-bottom: 30px;
	}
	.header-menu-content .right-content .contact-content ul li:before {
		top: 4px;
		background-size: 12px auto;
		background-position: center;
	}
	.header-menu-content .close-menu {
		right: 10px;
		top: 10px;
		left: auto;
		background: none;
	}
	.header-menu-content .right-content .contact-content > img {
		display: none;
	}
	.header-menu-content .right-content .contact-content h3 {
		padding-left: 70px;
		background-image: url(../images/menu_right_logo.svg);
		background-size: 48px auto;
		background-repeat: no-repeat;
		background-position: left 15px center;
	}
	.header-menu-main li a:before {
		font-size: 14px;
		top: -5px;
	}
	.logo-welcome {
		max-width: 90%;
	}
	.cam-hung-content .content-left,
	.cam-hung-content .content-right {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.cam-hung-content .content-right .posts-grid-item {
		margin-top: 30px;
	}
	.cam-hung-content .content-left .action {
		display: none;
	}
	.cam-hung-content .content-right .action {
		margin-top: 35px;
		display: block;
	}
	.section-travel-inspired {
		padding: 40px 0;
	}
	.section-map-filter .special-link {
		display: none;
	}
	.section-map-filter .section-content-left {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding: 30px 15px;
		text-align: center;
	}
	.section-home-content.section-map-filter .section-content:before {
		content: "";
		display: block;
		width: 100%;
		height: auto;
		padding-bottom: 100%;
		background: #fff;
		border-radius: 0;
		position: absolute;
		z-index: 3;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		opacity: 0.7;
		transform: none;
	}
	.section-travel-event .content-panel-scroll {
		padding: 30px 0;
	}
	.section-travel-event .left-content {
		margin-bottom: 30px;
		padding-top: 0;
	}
	.section-travel-event .left-content,
	.section-travel-event .right-content {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		position: relative;
	}
	.section-travel-event .d-flex {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	} 
	.section-travel-event .left-content .slick-prev, 
	.section-travel-event .left-content .slick-next {
		top: 50%;
		left: 20px;
		margin-top: -20px;
		margin-bottom: 0;
		transform: rotate(-90deg);
	}
	.section-travel-event .left-content .slick-next {
		right: 20px;
		left: auto;
	}
}
@media (min-width: 768px){
	.search-form .form-row div + div > .form-control {
		border-left: 0;
	}
	.vertical-header + .horizontal-header {
		display: none;
	}
}
@media (max-width: 767px){
	.event-item-content {
		padding: 30px 15px;
	}
	.event-item-content .timer,
	.event-item-content .content .image {
		padding: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.event-item-content .content .image img {
		width: 100%;
		height: auto;
	}
	.event-item-content .content .image {
		margin-bottom: 20px;
	}
	.section-travel-event .event-item-content .d-flex {
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.event-item-content ul,
	.event-item-content h4 {
		padding: 0 0 20px 0;
	}
	.horizontal-header .middle-header {
		padding: 12px 0;
	}
	.section-introduction .content-panel-scroll {
		padding: 40px 15px;
	}
	.main-content {
		padding-top: 0;
		padding-bottom: 0;
	}
	.dulich-khampha-index, 
	.homepage-index-index {
		padding-left: 0 !important;
	}
	.vertical-header {
		display: none !important;
	}
	.horizontal-header .top-header .call {
		float: right;
	}
	.horizontal-header .top-header .callendar {
		display: none;
	}
	.section-map-page.section-map-filter .categoy-map li {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.gallery-grid-item {
		margin-top: 0;
	}
	.ttdt-banner-content-left .ttdt-banner-item .content .title a {
		font-size: 16px;
	}
	.ttdt-banner-content-left .ttdt-banner-item .content .description {
		font-size: 14px;
	}
	.main-content .sidebar-right,
	.main-content .sidebar-left {
		padding: 0 15px;
		float: none;
		width: 100%;
	}
	.main-content .sidebar-right {
		margin-top: 40px;
	}
	.block-post-list .title.d-flex {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.box-info-footer {
		padding-left: 0;
	}
	.box-info-footer .contact-information {
		text-align: center;
		padding: 0;
		border: none;
	}
	.box-info-footer .logo {
		position: static;
		margin: 0 0 30px;
		text-align: center;
	}
	.middle-footer .row,
	.middle-footer .row .col-4 {
		margin: 0;
		padding: 0;
	}
	.middle-footer .row .col-4 + .col-4 {
		border-left: 1px solid #eaeaea;
	}
	.middle-footer .box-links {
		height: 100%;
		padding-bottom: 15px;
	}
	.logo-welcome {
		padding-top: 50px;
	}
	.logo-welcome img {
		height: 80px;
		width: auto;
	}
	.section-home-content .box-links-container .row {
		margin: 0 -5px;
	}
	.section-home-content .box-links-container .row .col-4 {
		padding: 0 5px;
	}
	.section-home-content .box-links-container .box-links {
		padding: 10px;
	}
	.section-home-content .box-links-container .box-links .box-links-image {
		max-width: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.introduction-image {
		display: none;
	}
	.introduction-content {
		width: 100%;
		padding-left: 0;
		text-align: center;
	}
	.section-google-map.section-home-content .contact-content {
		margin-right: 0;
	}
	.section-home-content .contact-content {
		padding: 30px 20px 36px;
	}
	.section-home-content .contact-content ul {
		font-size: 1rem;
	}
	.section-home-content .contact-content ul li {
		margin-top: 20px;
	}
	.section-home-content .contact-content ul li:before {
		top: 2px;
	}
	.content-404 .btn {
		display: block;
		margin-left: 0 !important;
		width: 100%;
	}
	.content-404 .btn + .btn {
		margin-top: 10px !important;
	}
	.content-404 {
		padding: 20px 0;
	}
	.horizontal-header .middle-header .logo img {
		max-height: 36px;
		width: auto;
	}
	body {
		padding-top: 118px !important;
	}
	body .horizontal-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 2;
		background-color: #F7F7F7;
		transition: all 400ms;
		-moz-transition: all 400ms;
		-webkit-transition: all 400ms;
		-o-transition: all 400ms;
	}
	body.sticky-header-down .horizontal-header {
		transform: translateY(-100%);
		-moz-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-o-transform: translateY(-100%);
	}
	body.sticky-header .horizontal-header {
		transform: translateY(0);
		-moz-transform: translateY(0);
		-webkit-transform: translateY(0);
		-o-transform: translateY(0);
	}
	.section-title img {
		max-height: 30px;
	}
	.section-title h2 {
		font-size: 2rem;
	}
}

@media (max-width: 500px){
	.section-travel-event .left-content .slick-slide:before, 
	.section-travel-event .left-content .slick-slide:after {
		content: none;
	}
	.blog-tin-tuc .blog-tin-tuc-item {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.blog-tin-tuc .blog-tin-tuc-item .image,
	.blog-tin-tuc .blog-tin-tuc-item .content {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.blog-tin-tuc .blog-tin-tuc-item .image img {
		width: 100%;
		height: auto;
	}
	.horizontal-header .top-header a {
		padding-left: 15px;
		background-size: 12px;
		font-size: 11px;
	}
	.horizontal-header .top-header .list-inline-float {
		margin: 4px 0;
	}
	.list-informations ul li {
		width: 100%;
		padding: 0 !important;
	}
	.section-home-lienhe .content-panel-scroll {
		padding: 0 15px;
	}
	.section-home-lienhe .content-panel-scroll .section-content {
		width: 100%;
	}
	.section-home-content .contact-content .col-4 {
		padding: 0;
	}
}