﻿
ol.organizational-chart > li > div {
	background: #F6A62D;
	border: 1px solid #EC910B;
	box-sizing: border-box;
	border-radius: 8px;
}

ol.organizational-chart > li > div > h1 {
	font-size: 1.2rem;
	font-weight: 900;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: .8rem;
	margin-bottom: .8rem;
	color:#fff;
}

ol.organizational-chart > li > ol > li > div{
	background: #46B1FF;
	border: 1px solid #3FA1E9;
	box-sizing: border-box;
	border-radius: 8px;
	animation: 0.3 ease
}

ol.organizational-chart > li > ol > li > div h2{
	font-style: normal;
	font-weight: bold;
	font-size: 1.2rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

ol.organizational-chart > li > ol > li > div h2 a{
	color: #fff;
}

ol.organizational-chart > li > ol > li > ol > li > div{
	background: #C5E7FF;
	border: 1px solid #46B1FF;
	box-sizing: border-box;
	border-radius: 6px;
	animation: 0.3 ease
}

ol.organizational-chart > li > ol > li > ol > li > div h3{
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	margin-top: .4rem;
	margin-bottom: .4rem;
}

ol.organizational-chart > li > ol > li > ol > li > div h3 a{
	color: #007AD2;
}

ol.organizational-chart ol:before, ol.organizational-chart ol:after, ol.organizational-chart li:before, ol.organizational-chart li:after, ol.organizational-chart > li > div:before, ol.organizational-chart > li > div:after{
	background-color: #46B1FF!important;
}

ol.organizational-chart > li > ol > li > ol > li > div, ol.organizational-chart > li > ol > li > div{
	animation: 0.3 ease;
}

ol.organizational-chart > li > ol > li > ol > li > div:hover, ol.organizational-chart > li > ol > li > div:hover {
	background: #0094FF;
	border: 1px solid #007AD2;
	box-sizing: border-box;
	animation: 0.3 ease;
}

ol.organizational-chart > li > ol > li > ol > li > div:hover a, ol.organizational-chart > li > ol > li > div:hover a {
	color: #fff;
	animation: 0.3 ease;
}